.step {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 0px;
    gap: 5px
}

.row {
    margin: 15px;
    input {
        width: 5vw;
    }
}

.title {
    display: inline-block;
    margin-right: 10px;
    width: 5vw;
}